In [1]:
import pandas as pd
import numpy as np

In [2]:
customers = pd.read_csv('transformed_customer_test.csv')

In [5]:
stories = pd.read_csv('stories_reaction_test.csv')

In [6]:
customers.head()

,customer_id,age,full_years,gender,product_0_CLS,product_0_NaN,product_0_UTL,product_1_CLS,product_1_NaN,product_1_OPN,...,4111_mean,4121_mean,5331_mean,5411_mean,5499_mean,5541_mean,5812_mean,5814_mean,5912_mean,5921_mean
0,15,40.0,7.0,1,0,1,0,1,0,0,...,0.000000,0.000000,0.0,4903.846154,3375.0,0.000000,3437.500000,25250.000000,2000.0,13666.666667
1,73,45.0,7.0,1,1,0,0,1,0,0,...,166.666667,427.777778,1200.0,1315.217391,375.0,2300.000000,19181.818182,750.000000,1562.5,333.333333
2,91,40.0,6.0,1,0,1,0,1,0,0,...,0.000000,666.666667,0.0,222.222222,500.0,1823.529412,2166.666667,541.666667,0.0,0.000000
3,129,45.0,6.0,1,0,1,0,0,0,0,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
4,144,50.0,6.0,1,0,1,0,0,0,0,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,3000.0,250.000000

In [7]:
stories.head()

   customer_id  story_id           event_dttm  answer_id
0       466906      1152  2018-08-01 00:00:46          0
1       466906      1355  2018-08-01 00:00:46          1
2       146395       537  2018-08-01 00:02:08          2
3       897303       915  2018-08-01 00:02:30          3
4        50094      1415  2018-08-01 00:03:13          4

In [10]:
customers.set_index('customer_id', inplace=True)

In [11]:
customers

,age,full_years,gender,product_0_CLS,product_0_NaN,product_0_UTL,product_1_CLS,product_1_NaN,product_1_OPN,product_1_UTL,...,4111_mean,4121_mean,5331_mean,5411_mean,5499_mean,5541_mean,5812_mean,5814_mean,5912_mean,5921_mean
customer_id,,,,,,,,,,,,,,,,,,,,,
15,40.000000,7.000000,1,0,1,0,1,0,0,0,...,0.000000,0.000000,0.000000,4903.846154,3375.000000,0.000000,3437.500000,25250.000000,2000.000000,13666.666667
73,45.000000,7.000000,1,1,0,0,1,0,0,0,...,166.666667,427.777778,1200.000000,1315.217391,375.000000,2300.000000,19181.818182,750.000000,1562.500000,333.333333
91,40.000000,6.000000,1,0,1,0,1,0,0,0,...,0.000000,666.666667,0.000000,222.222222,500.000000,1823.529412,2166.666667,541.666667,0.000000,0.000000
129,45.000000,6.000000,1,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
144,50.000000,6.000000,1,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3000.000000,250.000000
150,45.000000,7.000000,1,0,1,0,1,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
164,50.000000,4.000000,0,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1000.000000,0.000000,0.000000
178,35.000000,7.000000,1,0,1,0,1,0,0,0,...,145.833333,488.888889,0.000000,488.888889,208.333333,0.000000,1000.000000,327.160494,1000.000000,0.000000
183,50.000000,7.000000,0,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,0.000000,6500.000000,0.000000,1000.000000,3500.000000,0.000000,0.000000
192,40.000000,5.000000,1,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
353,45.000000,5.000000,1,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
362,30.000000,7.000000,1,0,1,0,0,0,0,1,...,2000.000000,571.428571,250.000000,1061.403509,153.846154,1500.000000,1000.000000,272.727273,441.176471,0.000000
446,45.000000,1.000000,0,0,1,0,1,0,0,0,...,0.000000,0.000000,0.000000,1000.000000,1000.000000,0.000000,500.000000,666.666667,500.000000,0.000000
521,45.000000,7.000000,1,0,1,0,0,0,0,1,...,833.333333,130.434783,214.285714,491.525424,260.869565,0.000000,900.000000,791.666667,200.000000,0.000000
524,45.000000,5.000000,1,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
536,45.000000,7.000000,1,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,500.000000,0.000000,1666.666667,500.000000,153.846154,0.000000,0.000000
563,50.000000,4.000000,0,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
588,40.000000,4.000000,1,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,500.000000,3500.000000,0.000000,0.000000
612,35.000000,7.000000,1,0,1,0,0,0,0,1,...,1250.000000,750.000000,0.000000,500.000000,0.000000,0.000000,500.000000,500.000000,875.000000,0.000000
629,35.000000,5.000000,1,0,1,0,0,0,0,1,...,0.000000,35.714286,0.000000,500.000000,0.000000,500.000000,0.000000,0.000000,0.000000,250.000000
650,60.000000,1.000000,0,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
652,55.000000,7.000000,0,0,0,1,0,0,0,1,...,0.000000,0.000000,0.000000,352.941176,200.000000,0.000000,0.000000,500.000000,0.000000,0.000000
674,60.000000,5.000000,0,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
697,55.000000,7.000000,0,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
716,40.000000,6.000000,0,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,270.270270,136.363636,1000.000000,0.000000,0.000000,333.333333,158.536585
723,35.000000,7.000000,1,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
791,35.000000,7.000000,1,0,1,0,1,0,0,0,...,900.000000,261.904762,0.000000,872.549020,500.000000,0.000000,2400.000000,833.333333,666.666667,500.000000
794,45.000000,4.000000,1,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,0.000000,2000.000000,0.000000,0.000000,0.000000,0.000000,0.000000
804,40.000000,5.000000,0,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,1250.000000,243.243243,875.000000,0.000000,0.000000,500.000000,1000.000000
807,30.000000,4.000000,1,0,1,0,0,0,0,1,...,0.000000,0.000000,1000.000000,888.888889,0.000000,500.000000,0.000000,100.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059052,34.068825,1.000000,1,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,500.000000,250.000000,0.000000,0.000000
1059186,34.068825,1.000000,0,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,1500.000000,0.000000,2750.000000,500.000000,0.000000,0.000000,0.000000
1059297,34.068825,1.000000,0,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,2000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1059383,34.068825,1.000000,1,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1059651,34.068825,1.000000,0,0,1,0,0,1,0,0,...,2000.000000,0.000000,0.000000,250.000000,500.000000,2000.000000,500.000000,400.000000,2500.000000,0.000000
1059728,34.068825,1.000000,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1059900,34.068825,1.000000,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,200.000000,0.000000,0.000000,0.000000,250.000000,0.000000,0.000000
1059920,34.068825,1.000000,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1060125,34.068825,1.000000,0,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,166.666667,0.000000,0.000000
1060256,34.068825,1.000000,0,0,1,0,0,0,0,1,...,0.000000,0.000000,0.000000,625.000000,0.000000,0.000000,0.000000,0.000000,0.000000,500.000000
1060267,34.068825,1.000000,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,666.666667,0.000000,0.000000,0.000000,500.000000,0.000000,0.000000
1069312,34.068825,1.000000,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1071419,34.068825,1.000000,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1071750,34.068825,1.000000,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1078605,34.068825,1.000000,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1080141,34.068825,1.000000,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,250.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1084384,34.068825,1.000000,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,600.000000,0.000000,1000.000000,0.000000,0.000000,0.000000,0.000000
1085389,34.068825,1.000000,0,0,1,0,0,1,0,0,...,0.000000,0.000000,400.000000,400.000000,83.333333,1750.000000,500.000000,300.000000,361.111111,166.666667
1085762,34.068825,1.000000,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1085822,34.068825,0.000000,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,500.000000,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1089543,34.068825,0.000000,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,1166.666667,0.000000,0.000000,1000.000000,0.000000,250.000000,500.000000
1090890,34.068825,0.000000,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1093167,34.068825,0.000000,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,566.666667,397.435897,666.666667,333.333333,500.000000,187.500000,0.000000
1095251,34.068825,2.594296,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1098683,34.068825,0.000000,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,1166.666667,272.727273,1142.857143,416.666667,0.000000,0.000000,222.222222
1099266,34.068825,0.000000,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,875.000000,500.000000,500.000000,500.000000,6500.000000,2500.000000,500.000000
1099662,34.068825,2.594296,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,187.500000,0.000000,0.000000,0.000000,0.000000,0.000000,300.000000
1099955,34.068825,0.000000,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,714.285714,0.000000,0.000000,0.000000,500.000000,1388.888889,0.000000
1102536,34.068825,0.000000,0,0,1,0,0,1,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1103495,34.068825,2.594296,0,0,1,0,0,1,0,0,...,0.000000,0.000000,750.000000,1916.666667,500.000000,2375.000000,0.000000,333.333333,0.000000,0.000000

In [17]:
data = stories.join(customers, on='customer_id')

In [19]:
data.head()

,customer_id,story_id,event_dttm,answer_id,age,full_years,gender,product_0_CLS,product_0_NaN,product_0_UTL,...,4111_mean,4121_mean,5331_mean,5411_mean,5499_mean,5541_mean,5812_mean,5814_mean,5912_mean,5921_mean
0,466906,1152,2018-08-01 00:00:46,0,25.0,2.0,0,0,1,0,...,500.000000,0.0,0.0,320.0,285.714286,2250.000000,500.0,500.0,250.0,0.0
1,466906,1355,2018-08-01 00:00:46,1,25.0,2.0,0,0,1,0,...,500.000000,0.0,0.0,320.0,285.714286,2250.000000,500.0,500.0,250.0,0.0
2,146395,537,2018-08-01 00:02:08,2,25.0,1.0,1,0,1,0,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
3,897303,915,2018-08-01 00:02:30,3,30.0,1.0,0,0,1,0,...,0.000000,0.0,0.0,750.0,0.000000,0.000000,0.0,500.0,0.0,0.0
4,50094,1415,2018-08-01 00:03:13,4,30.0,7.0,1,0,0,1,...,333.333333,250.0,0.0,1250.0,0.000000,1333.333333,350.0,0.0,500.0,0.0

In [20]:
len(stories)

172049

In [21]:
len(data)

172049

In [22]:
img = pd.read_csv('encoded_image_vectors.csv')
img.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,190,191,192,193,194,195,196,197,198,199
0,1000,6.451160,-3.551597,2.812647,-7.786051,-1.854129,-0.788550,-3.640428,-1.006964,0.593710,...,-0.036982,-0.037476,-0.000544,-0.063931,-0.170253,-0.171792,-0.155856,0.232907,-0.074898,-0.001338
1,1001,10.679192,-4.654103,0.394651,-6.067107,-0.782128,-2.698834,-2.202642,-0.949290,1.444721,...,-0.083016,-0.564499,0.192222,-0.243853,-0.338377,0.053754,-0.425447,-0.464197,0.426968,-0.209356
2,1002,7.322650,-5.719898,-4.426306,4.446971,-0.268286,2.689194,1.617716,-0.322713,-3.013821,...,0.093319,0.079550,0.108641,0.119318,0.128844,0.176620,0.132801,0.253752,0.225191,-0.098656
3,1003,-15.293322,1.234061,-6.914356,-0.399876,-3.622600,-0.897216,-2.362806,-0.876070,2.302003,...,0.228319,0.366406,-0.088751,-0.233484,0.006702,-0.092126,0.240593,-0.050416,0.105371,0.077333
4,1004,-16.290875,2.544510,-9.038565,0.331856,-5.306731,-1.597454,-1.247256,-0.652486,2.189082,...,0.093335,-0.050184,-0.319732,-0.300636,-0.007112,0.070423,0.113208,-0.082244,0.381099,0.004294

In [23]:
words = pd.read_csv('stories_textvecs.csv')
words.head()

,story_id,coord0,coord1,coord2,coord3,coord4,coord5,coord6,coord7,coord8,...,coord290,coord291,coord292,coord293,coord294,coord295,coord296,coord297,coord298,coord299
0,127,0.023946,0.027339,-0.036125,0.014271,-0.022873,0.058570,0.009791,0.026809,-0.013737,...,-0.021669,0.002791,-0.012763,0.022205,0.006222,-0.018878,-0.007339,0.010592,-0.005058,-0.042888
1,254,0.040182,-0.010477,-0.039391,0.003636,-0.037800,0.060992,0.014580,-0.037330,-0.011485,...,-0.017745,-0.004105,-0.019211,-0.006725,-0.022437,0.011936,-0.035963,-0.002342,-0.032582,-0.029871
2,865,0.014239,-0.008430,-0.009091,0.009896,-0.014337,0.014273,-0.005956,-0.012593,-0.006753,...,-0.006727,0.025462,-0.002612,0.018086,-0.024839,-0.020831,0.040859,-0.000697,-0.020284,-0.007832
3,1491,0.004958,0.007709,0.015407,0.030614,-0.018569,0.014779,-0.001456,0.006372,-0.020365,...,0.004823,0.031571,-0.001666,0.004815,-0.039070,-0.031844,0.021100,0.032551,-0.024545,0.006978
4,598,-0.021650,0.010285,0.020996,0.011718,-0.016412,0.007425,0.005012,0.010852,0.018671,...,0.004557,-0.000098,0.004034,0.026488,-0.023023,-0.033923,0.007638,0.029296,-0.025973,0.012353

In [27]:
img.set_index('Unnamed: 0', inplace=True)

In [28]:
descr = words.join(img, on='story_id')

In [30]:
len(descr)

959

In [32]:
descr.set_index('story_id', inplace=True)

In [33]:
data = data.join(descr, on='story_id')

In [36]:
data.head()

,customer_id,story_id,event_dttm,answer_id,age,full_years,gender,product_0_CLS,product_0_NaN,product_0_UTL,...,190,191,192,193,194,195,196,197,198,199
0,466906,1152,2018-08-01 00:00:46,0,25.0,2.0,0,0,1,0,...,-0.224229,-0.110914,-0.207266,-0.587319,-0.682595,0.068850,0.380849,0.081600,-0.046754,0.359736
1,466906,1355,2018-08-01 00:00:46,1,25.0,2.0,0,0,1,0,...,0.113038,-0.054402,0.355774,0.506963,0.211831,0.278511,0.322726,0.080273,0.359345,0.272460
2,146395,537,2018-08-01 00:02:08,2,25.0,1.0,1,0,1,0,...,0.299776,-0.022759,-0.120830,-0.460327,-0.268163,0.650230,-0.858591,-0.724311,-0.785716,-0.735218
3,897303,915,2018-08-01 00:02:30,3,30.0,1.0,0,0,1,0,...,-0.653580,-0.505863,-0.124305,0.580162,-0.456180,0.486078,0.116388,-0.110131,-0.394627,0.088583
4,50094,1415,2018-08-01 00:03:13,4,30.0,7.0,1,0,0,1,...,-0.441167,0.041366,-0.446979,0.400486,-0.350387,0.296287,-0.239594,-0.308395,-0.453220,0.107808

In [37]:
data.drop(columns=['customer_id', 'story_id', 'event_dttm'], inplace=True)

In [38]:
data.head()

,answer_id,age,full_years,gender,product_0_CLS,product_0_NaN,product_0_UTL,product_1_CLS,product_1_NaN,product_1_OPN,...,190,191,192,193,194,195,196,197,198,199
0,0,25.0,2.0,0,0,1,0,0,1,0,...,-0.224229,-0.110914,-0.207266,-0.587319,-0.682595,0.068850,0.380849,0.081600,-0.046754,0.359736
1,1,25.0,2.0,0,0,1,0,0,1,0,...,0.113038,-0.054402,0.355774,0.506963,0.211831,0.278511,0.322726,0.080273,0.359345,0.272460
2,2,25.0,1.0,1,0,1,0,0,0,0,...,0.299776,-0.022759,-0.120830,-0.460327,-0.268163,0.650230,-0.858591,-0.724311,-0.785716,-0.735218
3,3,30.0,1.0,0,0,1,0,0,0,0,...,-0.653580,-0.505863,-0.124305,0.580162,-0.456180,0.486078,0.116388,-0.110131,-0.394627,0.088583
4,4,30.0,7.0,1,0,0,1,0,1,0,...,-0.441167,0.041366,-0.446979,0.400486,-0.350387,0.296287,-0.239594,-0.308395,-0.453220,0.107808

In [39]:
len(data)

172049

In [40]:
data.to_csv(path_or_buf='test_dataset.csv')